{% extends 'base.html' %}

{% block aboutActive %}
class="active"
{% endblock %}

{% block content %}


<h1 class="text-center">About Chart My Team</h1>

<div id="aboutDiv" class='container text-left col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1'>
  <h4>Why Chart My Team?</h4>
  <p><span class="siteTitle">Chart My Team</span> is a tool created by Julia Hazer to help <a href="http://www.norcal.usta.com/" target="_blank">USTA Norcal</a> tennis players, captains, and fans better access and visualize data about NorCal tennis teams and matches.</p>

  <h4>About USTA NorCal</h4>
  <p>One of the 17 sections of USTA (US Tennis Association) across America, <a href="http://www.norcal.usta.com/" target="_blank">USTA Norcal</a> is a not-for-profit that promotes, services, &amp; administers tennis programs in Northern California &amp; Northwest Nevada. USTA Norcal has over 50,000 members. Players ages 18-70+ play in their adult recreational leagues.</p>

  <h4>About Julia</h4>
  <p>I am a full-stack developer and am passionate about tennis! I've played on USTA NorCal teams in the Bay Area since 2011 and love the tennis community. You can find out more about me here: <a href="http://www.juliahazer.com" target="_blank">http://www.juliahazer.com</a>.</p>

  <h4>Next Steps?</h4>
  <p>I am working on adding data for more USTA NorCal leagues and teams to the <span class="siteTitle">Chart My Team</span>. I'm also working on providing more ways to visualize and compare data, as well as keeping the current league data up-to-date nightly.</p>

  <h4>How Can You Help?</h4>
  <p>I'd love to hear from you with your feedback about <span class="siteTitle">Chart My Team</span>. Do you have suggestions for improvements to the site or ideas about new features? Please reach out! Also, please help spread the word about <span class="siteTitle">Chart My Team</span>. Thanks!</p>
</div>

<div class='container text-center col-md-12'>
    <br>
    <a class="btn btn-lg btnCustom btnCustomAbout" href="mailto:hazerjulia@gmail.com">
      <span class="glyphicon glyphicon-envelope"></span>
      Contact Me
    </a>
    <a class="btn btn-lg btnCustom btnCustomAbout" href="http://www.juliahazer.com" target="_blank">
      <span class="glyphicon glyphicon-sunglasses"></span>
      Visit My Website
    </a>
</div>
{% endblock %}