{% extends 'base.html' %}

{% block content %}

<div class='container-fluid'>
  <div class="form-group row">
    <div class="col-lg-3 col-lg-offset-2
      col-md-2 col-md-offset-2
      col-sm-3 col-sm-offset-1
      col-xs-12
      col-form-label">
      <label id="selectSeasonsLabel" 
        for="selectSeasons">
        Choose a Season:
      </label>
    </div>
    <div class="col-lg-3 col-lg-offset-0
      col-md-6 col-md-offset-0
      col-sm-7 col-sm-offset-0
      col-xs-10 col-xs-offset-1">
      <select onchange="location = this.value;" class="form-control" id="selectSeasons">
        {% for season in seasons %}

          <option value="{{ url_for('seasons.show', id=season.id) }}"
            {% if season.id == season_id %}
              selected
            {% endif %}
          >
            {{season.year}} {{season.name}}</option> 
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-3 col-lg-offset-2
      col-md-2 col-md-offset-2
      col-sm-3 col-sm-offset-1
      col-xs-12
      col-form-label">
      <label id="selectLeaguesLabel" 
        for="selectLeagues">
        Choose a League:
      </label>
    </div>
    <div class="col-lg-3 col-lg-offset-0
      col-md-6 col-md-offset-0
      col-sm-7 col-sm-offset-0
      col-xs-10 col-xs-offset-1">
      <select onchange="location = this.value;" class="form-control" id="selectLeagues">
        {% for league in leagues %}
          <option value="{{ url_for('leagues.show', id=league.id) }}">
            {{league.year}} {{league.name}}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% endblock %}