{% extends 'base.html' %}

{% block content %}

<!--form-->
<div class='container-fluid'>
  <div class="form-group row">
    <div class="col-lg-3 col-lg-offset-2
      col-md-2 col-md-offset-2
      col-sm-3 col-sm-offset-1
      col-xs-12
      col-form-label">
      <label id="selectSeasonsLabel" 
        for="selectSeasons"> <!--NEED TO FIX ID!!!!!!!-->
        Choose a Season:
      </label>
    </div>
    <div class="col-lg-3 col-lg-offset-0
      col-md-6 col-md-offset-0
      col-sm-7 col-sm-offset-0
      col-xs-10 col-xs-offset-1">
      <select class="form-control" id="selectSeasons"> <!--NEED TO FIX ID!!!!!!!-->
        {% for season in seasons %}
          <option value="{{ season[0] }}">{{season[0]}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-3 col-lg-offset-2
      col-md-2 col-md-offset-2
      col-sm-3 col-sm-offset-1
      col-xs-12
      col-form-label">
      <label id="selectLeaguesLabel" 
        for="selectLeagues"> <!--NEED TO FIX ID!!!!!!!-->
        Choose a League:
      </label>
    </div>
    <div class="col-lg-3 col-lg-offset-0
      col-md-6 col-md-offset-0
      col-sm-7 col-sm-offset-0
      col-xs-10 col-xs-offset-1">
      <select class="form-control" id="selectLeagues"> <!--NEED TO FIX ID!!!!!!!-->
        {% for league in leagues %}
          <option value="{{ league[0] }}">{{league[0]}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-3 col-lg-offset-2
      col-md-2 col-md-offset-2
      col-sm-3 col-sm-offset-1
      col-xs-12
      col-form-label">
      <label id="selectAreasLabel" 
        for="selectAreas">
        Choose an Area:
      </label>
    </div>
    <div class="col-lg-3 col-lg-offset-0
      col-md-6 col-md-offset-0
      col-sm-7 col-sm-offset-0
      col-xs-10 col-xs-offset-1">
      <select class="form-control" id="selectAreas">
        {% for area in areas %}
          <option value="{{ area }}">{{area[0]}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-3 col-lg-offset-2
      col-md-2 col-md-offset-2
      col-sm-3 col-sm-offset-1
      col-xs-12
      col-form-label">
      <label id="selectTeamsLabel" 
        for="selectTeams">
        Choose a Team:
      </label>
    </div>
    <div class="col-lg-3 col-lg-offset-0
      col-md-6 col-md-offset-0
      col-sm-7 col-sm-offset-0
      col-xs-10 col-xs-offset-1">
      <select class="form-control" id="selectTeams">
        {% for team in teams %}
          <option value="{{ team.id }}">{{team.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

<!--buttons-->
<div class='container-fluid'>
  <p class="selectBtns">
    <a class="active btn btn-lg btnCustom" href="" 
      data-val="Matches">
      # Won / Lost
    </a>
    <a class="btn btn-lg btnCustom" href="" 
      data-val="Won">
      # Won
    </a>
    <a class="btn btn-lg btnCustom" href="" 
      data-val="Lost">
      # Lost
    </a>
    <a class="btn btn-lg btnCustom" href="" 
      data-val="WinPercentage">
      Win %
    </a>
    <a class="btn btn-lg btnCustom" href="" 
      data-val="SinglesDoubles">
      # Singles / Doubles
    </a>
    <a class="btn btn-lg btnCustom" href="" 
      data-val="Singles">
      # Singles
    </a>
    <a class="btn btn-lg btnCustom" href="" 
      data-val="Doubles">
      # Doubles
    </a>
  </p>
</div>

{% endblock %}