{% extends 'base.html' %}

{% block content %}

<!--form-->
<div class='container-fluid'>
  <div class="form-group row" id="seasonSelectDiv">
    <div class="col-lg-3 col-lg-offset-2
      col-md-2 col-md-offset-2
      col-sm-3 col-sm-offset-1
      col-xs-12
      col-form-label">
      <label id="selectSeasonsLabel" 
        for="selectSeasons"> 
        Choose a Season:
      </label>
    </div>
    <div class="col-lg-3 col-lg-offset-0
      col-md-6 col-md-offset-0
      col-sm-7 col-sm-offset-0
      col-xs-10 col-xs-offset-1">
      <select class="form-control" id="selectSeason">
        <option disabled selected value> -- select an option -- </option>
      </select>
    </div>
  </div>
  <div class="form-group row hidden" id="leagueSelectDiv">
    <div class="col-lg-3 col-lg-offset-2
      col-md-2 col-md-offset-2
      col-sm-3 col-sm-offset-1
      col-xs-12
      col-form-label">
      <label id="selectLeaguesLabel" 
        for="selectLeagues"> 
        Choose a League:
      </label>
    </div>
    <div class="col-lg-3 col-lg-offset-0
      col-md-6 col-md-offset-0
      col-sm-7 col-sm-offset-0
      col-xs-10 col-xs-offset-1">
      <select class="form-control" id="selectLeague">
        <option disabled selected value> -- select an option -- </option>
      </select>
    </div>
  </div>
  <div class="form-group row hidden" id="teamSelectDiv">
    <div class="col-lg-3 col-lg-offset-2
      col-md-2 col-md-offset-2
      col-sm-3 col-sm-offset-1
      col-xs-12
      col-form-label">
      <label id="selectTeamsLabel" 
        for="selectTeams">
        Choose a Team:
      </label>
    </div>
    <div class="col-lg-3 col-lg-offset-0
      col-md-6 col-md-offset-0
      col-sm-7 col-sm-offset-0
      col-xs-10 col-xs-offset-1">
      <select class="form-control" id="selectTeam">
        <option disabled selected value> -- select an option -- </option>
      </select>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/dropdown.js') }}"></script>
{% endblock %}