{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
{% endblock %}

{% block table%}
<div class='container-fluid'>
  <h2>{{curr_team.name}}</h2>
  <h3>League: {{curr_team.league.year}} {{curr_team.league.name}}</h3>
</div>

<div class='container'>
  <table class="table table-bordered" id="tableMatches">
    <thead>
      <th class="text-left">Date</th>
      <th class="text-left">Opponent Name</th>
      <th class='text-left'>Match Type</th>
      <th class="text-left">Line #</th>
      <th class="text-left">Team Player/s</th>
      <th class="text-left">Opponent/s</th>
      <th class="text-left">Won?</th>
      <th class="text-left">Winner's Score</th>
      <th class="text-left">Location</th>
      <th class="text-left">USTA Link</th>
    </thead>
    <tbody id="tableBody">

    </tbody>
  <table>
</div>



{% endblock %}

{% block scripts %}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
<script src="{{ url_for('static', filename='scripts/team_matches.js') }}"></script>
{% endblock %}