{% extends 'base.html' %}

{% block content %}

<div class='container-fluid'>
  <h1>{{curr_team.name}}</h1>
  <h1>{{curr_team.league.name}}</h1>
  <table class="table">
    <thead>
      <th class="text-center">#</th>
      <th class="text-center">Date</th>
      <th class="text-center">Opponent Name</th>
      <th class='text-center'>Match Type</th>
      <th class="text-center">Line #</th>
      <th class="text-center">Team Player 1</th>
      <th class="text-center">Team Player 2</th>
      <th class="text-center">Opponent 1</th>
      <th class="text-center">Opponent 2</th>
      <th class="text-center">Won?</th>
      <th class="text-center">Winner's Score</th>
      <th class="text-center">Location</th>
      <th class="text-center">Link</th>
    </thead>
    <tbody>
      {% for match in matches %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{match.scorecard.date.strftime('%m-%d-%y')}}</td>
          <td>
            {% if match.are_home %}
              <a href="{{url_for('teams.show', id=match.scorecard.team_h.id)}}">
                {{match.scorecard.team_v.name}}
              </a>
            {% else %}
              <a href="{{url_for('teams.show', id=match.scorecard.team_h.id)}}">
                {{match.scorecard.team_h.name}}
              </a>
            {% endif %}
          </td>
          <td>{{match.match_type}}</td>
          <td>{{match.line}}</td>
          <td>
            {% if match.are_home %}
              {{match.h_1_player_name}}
            {% else %}
              {{match.v_1_player_name}}
            {% endif %}
          </td>
          <td>
            {% if match.match_type == 'doubles' %}
              {% if match.are_home %}
                {{match.h_2_player_name}}
              {% else %}
                {{match.v_2_player_name}}
              {% endif %}
            {% endif %}
          </td>
          <td>
            {% if match.are_home %}
              {{match.v_1_player_name}}
            {% else %}
              {{match.h_1_player_name}}
            {% endif %}
          </td>
          <td>
            {% if match.match_type == 'doubles' %}
               {% if match.are_home %}
                {{match.v_2_player_name}}
              {% else %}
                {{match.h_2_player_name}}
              {% endif %}
            {% endif %}         
          </td>
          <td>
            {% if match.are_home and match.winner == "Home" %}
              Team
            {% else %}
              Opponent
            {% endif %}
          </td>
          <td>
            {{match.winning_score}}
          </td>
          <td>
            {% if match.are_home %}
              Home
            {% else %}
              Away
            {% endif %}
          </td>
          <td>
            <a href="//www.ustanorcal.com/scorecard.asp?id={{match.scorecard.id}}" target="_blank">
              Link
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  <table>
</div>

{% endblock %}