{% extends 'base.html' %}

{% block content %}

<!--form-->
<div class='container-fluid'>
  <div class="form-group row" id="seasonSelectDiv">
    <div class="col-lg-3 col-lg-offset-2
      col-md-2 col-md-offset-2
      col-sm-3 col-sm-offset-1
      col-xs-12
      col-form-label">
      <label id="selectSeasonsLabel" 
        for="selectSeasons"> 
        Choose a Season:
      </label>
    </div>
    <div class="col-lg-3 col-lg-offset-0
      col-md-6 col-md-offset-0
      col-sm-7 col-sm-offset-0
      col-xs-10 col-xs-offset-1">
      <select class="form-control" id="selectSeason">
      </select>
    </div>
  </div>
  <div class="form-group row" id="leagueSelectDiv">
    <div class="col-lg-3 col-lg-offset-2
      col-md-2 col-md-offset-2
      col-sm-3 col-sm-offset-1
      col-xs-12
      col-form-label">
      <label id="selectLeaguesLabel" 
        for="selectLeagues"> 
        Choose a League:
      </label>
    </div>
    <div class="col-lg-3 col-lg-offset-0
      col-md-6 col-md-offset-0
      col-sm-7 col-sm-offset-0
      col-xs-10 col-xs-offset-1">
      <select class="form-control" id="selectLeague">
      </select>
    </div>
  </div>
  <div class="form-group row" id="teamSelectDiv">
    <div class="col-lg-3 col-lg-offset-2
      col-md-2 col-md-offset-2
      col-sm-3 col-sm-offset-1
      col-xs-12
      col-form-label">
      <label id="selectTeamsLabel" 
        for="selectTeams">
        Choose a Team:
      </label>
    </div>
    <div class="col-lg-3 col-lg-offset-0
      col-md-6 col-md-offset-0
      col-sm-7 col-sm-offset-0
      col-xs-10 col-xs-offset-1">
      <select class="form-control" id="selectTeam">
      </select>
    </div>
  </div>
</div>

{% if not has_rosters %}

<h1>Sorry, the data for this team is not yet available</h1>
<h1>{{curr_team.name}}</h1>

{% endif %}

{% if has_rosters %}

<!--buttons-->
<div class='container-fluid'>
  <p>
    <a class="btn btn-lg btnCustom" href="{{url_for('teams.scorecards', id=curr_team.id)}}">
      Go to Scorecard List
    </a>
    <a class="btn btn-lg btnCustom" href="{{url_for('teams.matches', id=curr_team.id)}}">
      Go to Matches
    </a>
  </p>
</div>

<!--buttons-->
<div class='container-fluid'>
  <p class="selectBtns">
    <a class="active btn btn-lg btnCustom btnSvg" href="" 
      data-val="matches">
      # Won / Lost
    </a>
    <a class="btn btn-lg btnCustom btnSvg" href="" 
      data-val="won">
      # Won
    </a>
    <a class="btn btn-lg btnCustom btnSvg" href="" 
      data-val="lost">
      # Lost
    </a>
    <a class="btn btn-lg btnCustom btnSvg" href="" 
      data-val="win_percent">
      Win %
    </a>
    <a class="btn btn-lg btnCustom btnSvg {% if 'Combo' in curr_team.league.name or 'Mixed' in curr_team.league.name %} hidden{% endif %}" href="" 
      data-val="singles_doubles">
      # Singles / Doubles
    </a>
    <a class="btn btn-lg btnCustom btnSvg {% if 'Combo' in curr_team.league.name or 'Mixed' in curr_team.league.name %} hidden{% endif %}" href="" 
      data-val="singles">
      # Singles
    </a>
    <a class="btn btn-lg btnCustom btnSvg" href="" 
      data-val="doubles">
      # Doubles
    </a>
  </p>
</div>


<h1>{{curr_team.league.year}} {{curr_team.league.name}}</h1>

{% endif %}

<!--SVG Chart-->
<div>
  <svg id="svgTag" class="svgChart {% if not has_rosters %}hidden{% endif %}" data-season-id="{{curr_team.season_id}}" data-league-id="{{curr_team.league_id}}" data-team-id="{{curr_team.id}}" preserveAspectRatio="xMinYMin meet" 
  viewBox="0 0 900 500"></svg>
</div>

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='scripts/dropdown.js') }}"></script>
  {% if has_rosters %}
    <script src="//d3js.org/d3.v4.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/app.js') }}"></script>
  {% endif %}
{% endblock %}