{% extends 'base.html' %}

{% block content %}

<!--form-->
<div class='container-fluid'>
  <div class="form-group row">
    <div class="col-lg-3 col-lg-offset-2
      col-md-2 col-md-offset-2
      col-sm-3 col-sm-offset-1
      col-xs-12
      col-form-label">
      <label id="selectSeasonsLabel" 
        for="selectSeasons"> 
        Choose a Season:
      </label>
    </div>
    <div class="col-lg-3 col-lg-offset-0
      col-md-6 col-md-offset-0
      col-sm-7 col-sm-offset-0
      col-xs-10 col-xs-offset-1">
      <select onchange="location = this.value;" class="form-control" id="selectSeasons">
        {% for season in seasons %}
          <option value="{{ url_for('seasons.show', id=season.id) }}"
            {% if season.id == curr_league.season_id %}
              selected
            {% endif %}
          >
            {{season.year}} {{season.name}}</option> 
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-3 col-lg-offset-2
      col-md-2 col-md-offset-2
      col-sm-3 col-sm-offset-1
      col-xs-12
      col-form-label">
      <label id="selectLeaguesLabel" 
        for="selectLeagues"> 
        Choose a League:
      </label>
    </div>
    <div class="col-lg-3 col-lg-offset-0
      col-md-6 col-md-offset-0
      col-sm-7 col-sm-offset-0
      col-xs-10 col-xs-offset-1">
      <select onchange="location = this.value;" class="form-control" id="selectLeagues">
        {% for league in leagues %}
          <option value="{{ url_for('teams.index', id=league.id) }}"
            {% if league.id == curr_league.id %}
              selected
            {% endif %}
          >
            {{league.year}} {{league.name}}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-3 col-lg-offset-2
      col-md-2 col-md-offset-2
      col-sm-3 col-sm-offset-1
      col-xs-12
      col-form-label">
      <label id="selectTeamsLabel" 
        for="selectTeams">
        Choose a Team:
      </label>
    </div>
    <div class="col-lg-3 col-lg-offset-0
      col-md-6 col-md-offset-0
      col-sm-7 col-sm-offset-0
      col-xs-10 col-xs-offset-1">
      <select onchange="location = this.value;" class="form-control" id="selectTeams">
        {% for team in teams %}
          <option value="{{ url_for('teams.show', id=curr_league.id, team_id=team.id) }}"
            {% if team.id == curr_team.id %}
              selected
            {% endif %}
          >
            {{team.name}}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

<!--buttons-->
<div class='container-fluid'>
  <p class="selectBtns">
    <a class="active btn btn-lg btnCustom" href="" 
      data-val="matches">
      # Won / Lost
    </a>
    <a class="btn btn-lg btnCustom" href="" 
      data-val="won">
      # Won
    </a>
    <a class="btn btn-lg btnCustom" href="" 
      data-val="lost">
      # Lost
    </a>
    <a class="btn btn-lg btnCustom" href="" 
      data-val="win_percent">
      Win %
    </a>
    <a class="btn btn-lg btnCustom" href="" 
      data-val="singles_doubles">
      # Singles / Doubles
    </a>
    <a class="btn btn-lg btnCustom" href="" 
      data-val="singles">
      # Singles
    </a>
    <a class="btn btn-lg btnCustom" href="" 
      data-val="doubles">
      # Doubles
    </a>
  </p>
</div>

<!--SVG Chart-->
<div>
  <svg class="svgChart" data-team-id="{{curr_team.id}}" preserveAspectRatio="xMinYMin meet" 
  viewBox="0 0 900 500"></svg>
</div>

{% endblock %}

{% block scripts %}
  <script src="//d3js.org/d3.v4.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/app.js') }}"></script>
{% endblock %}